name: Build Plugin

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: 8.7

      - name: Build Plugin
        run: gradle build --no-daemon --info

      - name: Upload Plugin JAR
        uses: actions/upload-artifact@v4
        with:
          name: End-Boss-Plugin
          path: build/libs/*.jar
